* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: Adwaita Sans;
    box-sizing: border-box !important;
}

:root {
    --max-width: 1920px;
    --page-width: 1100px;
    --page-padding: 1rem;
    font-size: 14px;
}

body {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    background-color: var(--background-color);
}

input {
    color: var(--font-color);
    align-self: stretch;
    padding: 10px;
    border: 2px solid var(--border);
    border-radius: 5px;
    background-color: var(--input-bg);
}

select {
    background-color: var(--input-bg);
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid var(--border);
    height: 3rem;
}

button {
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
    align-self: flex-end;
    background-color: var(--btn-bg);
    color: var(--font-color);

    &.secondary-btn {
        background-color: transparent;
    }

    &.secondary-btn:hover:enabled {
        background-color: var(--hover-color);
    }

    &:hover {
        background-color: var(--hover-color);
    }

    &:disabled {
        background-color: transparent;
    }

    &:not(:disabled) {
        cursor: pointer;
    }
}

textarea {
    border: 2px solid var(--border);
    border-radius: 5px;
    width: 100%;
    height: 10rem;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--input-bg);
    resize: none;
    color: var(--font-color);
    font-size: 14px;
}

.light {
    color-scheme: light;
    -webkit-tap-highlight-color: hsla(0, 0%, 51%, 0.283);
    --font-color: rgb(23, 23, 23);
    --background-color: #fff;
    --darker-bg: hsl(0, 0%, 99%);
    --canvas-color: #fff;
    --message-bg: #e7e7e7;
    --navbar-color: #f8fbfd;
    --navbar-border: #e3e5e7;
    --selected-color: #ececec;
    --hover-color: #e7e7e8;
    --input-bg: #f7f7f7;
    --active-button: #e0e0e0;
    --toast-bg: #f8fbfd;
    --primary: #e2e2e2;
    --bright-text: #f9fafb;
    --dark-text: #111827;
    --border: #ddd;
    --btn-bg: hsl(214, 100%, 82%);
    --label-color: #5f6368;

    --tag-bg: #e7e7e7;

    --orange: #ffcb88;
    --blue: #abd9ff;
    --grey: #3d3d3d;
    --red: rgb(212, 166, 166);

    --vibrant-red: hsl(0, 92%, 75%);

    --blue-bg: #e2eafb;
    --pink-bg: #fbe2f4;
    --violet-bg: #e3dbfa;
    --beige-bg: #f6e2d4;
    --green-bg: rgb(184, 218, 184);
    --card-bg: hsl(0, 0%, 95%);
    --foreground: hsl(0, 0%, 95%);
    --secondary: hsl(0, 0%, 100%);

    --title: hsl(0, 0%, 15%);
    --sub-title: hsl(0, 0%, 5%, 0.5);
    --error-color: rgb(187, 101, 101);

    .primary-btn {
        color: hsl(0, 0%, 99%);
        background-color: hsl(0, 0%, 9%);
    }
}

.dark {
    color-scheme: dark;
    color: rgb(234, 234, 234);

    -webkit-tap-highlight-color: hsla(0, 0%, 51%, 0.283);
    --foreground: hsl(0, 0%, 95%);
    --secondary: hsl(0, 0%, 9%);
    --font-color: #bfbfbf;
    --card-bg: hsl(0, 0%, 13%);
    --background-color: hsl(0, 0%, 9%);
    --darker-bg: hsl(0, 0%, 5%);
    --canvas-color: rgb(18, 18, 18);
    --message-bg: #272727;
    --navbar-color: #1d1d1d;
    --navbar-border: #727272;
    --selected-color: #272a2e;
    --hover-color: #353a3f;
    --input-bg: #1E1E1E;
    --active-button: #424242;
    --toast-bg: #333333;
    --error-color: rgb(187, 101, 101);
    --label-color: #5f6368;
    --delete-hover-color: hsl(0, 100%, 100%);

    --primary: #212227;
    --dark-text: #f9fafb;
    --bright-text: #111827;
    --border: hsl(0, 0%, 20%);
    --btn-bg: #272d31;
    --tag-bg: #464646;

    --orange: #785b3e;
    --blue: #3e5e78;
    --grey: #c2c2c2;
    --red: rgb(121, 84, 84);

    --vibrant-red: hsl(0, 45%, 30%);

    --blue-bg: #596380;
    --pink-bg: #704e66;
    --violet-bg: #645c80;
    --beige-bg: #806959;
    --green-bg: rgb(84, 121, 84);

    --title: hsl(0, 0%, 85%);
    --sub-title: hsl(0, 0%, 95%, 0.5);

    .primary-btn {
        background-color: hsl(0, 0%, 96%);
        color: hsl(0, 0%, 5%);
    }
}

.primary-btn {
    font-weight: 600;
    border: none;
    padding: 1.3rem 1.2rem;
    line-height: 0;
}

.blue-bg {
    background-color: var(--blue-bg);
}

.pink-bg {
    background-color: var(--pink-bg);
}

.violet-bg {
    background-color: var(--violet-bg);
}

.beige-bg {
    background-color: var(--beige-bg);
}

.no-line-height {
    line-height: 0;
}

input:focus,
textarea:focus {
    outline: 2px solid var(--blue);
    outline-offset: -2px;
}

.status {
    width: fit-content;
    padding: 0.5rem 0.7rem;
    line-height: 1;
    border-radius: 30px;
}

.status[data-type='todo'] {
    background-color: var(--green-bg);
    color: hsl(120, 100%, 11%);
    font-weight: bold;
}

.status[data-type='inprogress'] {
    background-color: hsl(280, 20%, 50%);
    color: hsl(280, 30%, 10%);
    font-weight: bold;
}

.status[data-type='done'] {
    background-color: hsl(210, 20%, 50%);
    color: hsl(210, 30%, 10%);
    font-weight: bold;
}

.status[data-type='declined'] {
    background-color: var(--red);
    color: hsl(40, 100%, 11%);
    font-weight: bold;
}

.status[data-type='pending'] {
    background-color: hsl(33, 20%, 50%);
    color: hsl(33, 30%, 10%);
    font-weight: bold;
}

.status[data-type='declined'] {
    background-color: hsl(0, 20%, 50%);
    color: hsl(30, 30%, 10%);
    font-weight: bold;
}

.status[data-type='accepted'] {
    background-color: hsl(125, 20%, 50%);
    color: hsl(125, 30%, 11%);
    font-weight: bold;
}


.status[data-type='cancelled'] {
    background-color: hsl(0, 0%, 50%);
    color: hsl(0, 0%, 11%);
    font-weight: bold;
}

.delete-btn {
    background-color: var(--vibrant-red);
    border: none;
    color: var(--font-color);
    font-weight: 500;
}

.delete-btn:hover {
    background-color: red;
    box-shadow: 0 0 0.7rem red;
}

.cancel-btn {
    background-color: transparent;
}

.editor-content,
.rich-content {
    ol {
        margin-left: 2rem;
    }

    ul {
        margin-left: 2rem;
    }

    p {
        display: block;
        min-height: 1rem;
    }
}

.input-label {
    position: relative;

    label {
        position: absolute;
        top: 50%;
        left: 6px;
        transform: translateY(-50%);
        color: var(--label-color);
        pointer-events: none;
        background-color: var(--input-bg);
        transition: top 0.2s cubic-bezier(0.4, 0, 0.2, 1),
            left 0.2s cubic-bezier(0.4, 0, 0.2, 1),
            font-size 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 5px;
        font-size: 16px;
        padding: 4px 8px;
    }
    label::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 50%; 
  
        border-radius: 5px 5px 0px 0px;
        pointer-events: none;

        opacity: 0;
        transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }

    input:focus+label::before,
    input:not(:placeholder-shown)+label::before {
        border-top: 2px solid var(--border);
        border-left: 2px solid var(--border);
        border-right: 2px solid var(--border);

        opacity: 1;
    }

    input:focus+label::before {
        border-top: 2px solid var(--blue);
        border-left: 2px solid var(--blue);
        border-right: 2px solid var(--blue);

        opacity: 1;
    }
 
    input:focus+label,
    input:not(:placeholder-shown)+label {
        top: 0;
        left: 6px;
        font-size: 14px;
        transform: translateY(-50%);
    }

}

.textarea-label {
    position: relative;

    label {
        position: absolute;
        top: 15%;
        left: 6px;
        transform: translateY(-50%);
        color: var(--label-color);
        pointer-events: none;
        background-color: var(--input-bg);
        transition: top 0.2s cubic-bezier(0.4, 0, 0.2, 1),
            left 0.2s cubic-bezier(0.4, 0, 0.2, 1),
            font-size 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 5px;
        font-size: 16px;
        padding: 3px 6px;
    }


    label::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 50%; 
  
        border-radius: 5px 5px 0px 0px;
        pointer-events: none;

        opacity: 0;
        transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }

    textarea:focus+label::before,
    textarea:not(:placeholder-shown)+label::before {
        border-top: 2px solid var(--border);
        border-left: 2px solid var(--border);
        border-right: 2px solid var(--border);

        opacity: 1;
    }

    textarea:focus+label::before {
        border-top: 2px solid var(--blue);
        border-left: 2px solid var(--blue);
        border-right: 2px solid var(--blue);
    }
    
    textarea:focus+label,
    textarea:not(:placeholder-shown)+label {
        top: 0;
        left: 6px;
        font-size: 14px;
        transform: translateY(-50%);
    }

}

.input-error {
    outline: 2px solid var(--error-color);
    outline-offset: -2px;
}

.error-message {
    padding: 0.5rem 0 0.5rem 0;
    color: var(--error-color);
}

.avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: relative;
    background-color: hsl(210, 11%, 50%);
}

.avatar::before {
    content: attr(data-content);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    color: hsl(110, 11%, 15%);
}

.card {
    border-radius: 15px;
    background-color: var(--card-bg);
    border: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow: hidden;
}

.card-padding {
    padding: 2rem;
}

@media (width >=600px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: contents;
    }
}

@media (width < 600px) {
    .mobile {
        display: contents;

        .example::-webkit-scrollbar {
            display: none;
        }

        .example {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
    }

    .desktop {
        display: none;
    }

    .card-padding {
        padding: 1rem;
    }

}

.page-container {
    padding: var(--page-padding);
}

.page-width {
    max-width: var(--page-width);
}

.page-padding {
    padding: 0 1rem 1rem 1rem;
}

.avatar-container {
    padding: 1rem;
    padding-top: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.flex-row-1g {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.p-1 {
    padding: 1rem;
}

@media (prefers-reduced-motion) {

    ::view-transition-group(*),
    ::view-transition-old(*),
    ::view-transition-new(*) {
        animation: none !important;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.reset-a {
    color: unset;
    text-decoration: unset;
}
