* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; */
    box-sizing: border-box !important;
}

:root {
    --max-width: 1920px;
    --page-padding: 0.5rem;
}

body {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    background-color: var(--background-color);
}

input {
    align-self: stretch;
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
}

button {
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
}

textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    height: 10rem;
    padding: 10px;
    box-sizing: border-box;
}

.light {
    color-scheme: light;
    --font-color: #000;
    --background-color: #fff;
    --navbar-color: #e7ebf0;
    --navbar-border: #b8cde7;

    --primary: #4f46e5;
    --bright-text: #f9fafb;
    --dark-text: #111827;
    --border: #ddd;
    --btn-bg: #fafafa;

    --orange: #ffcb88;
    --blue: #abd9ff;
    --grey: #3d3d3d;

    --blue-bg: #e2eafb;
    --pink-bg: #fbe2f4;
    --violet-bg: #e3dbfa;
    --green-bg: #f6e2d4;
}

.dark {
    color-scheme: dark;
    color: #bfbfbf;

    --font-color: #bfbfbf;

    --background-color: #272727;
    --navbar-color: #1d1d1d;
    --navbar-border: #727272;

    --primary: #6366f1;
    --dark-text: #f9fafb;
    --bright-text: #111827;
    --border: #727272;
    --btn-bg: #22242a;

    --orange: #8d714b;
    --blue: #7294af;
    --grey: #c2c2c2;

    --blue-bg: #596380;
    --pink-bg: #704e66;
    --violet-bg: #645c80;
    --green-bg: #806959;
}

.blue-bg {
    background-color: var(--blue-bg);
}

.pink-bg {
    background-color: var(--pink-bg);
}

.violet-bg {
    background-color: var(--violet-bg);
}

.green-bg {
    background-color: var(--green-bg);
}

.no-line-height {
    line-height: 0;
}

input:focus, textarea:focus {
    outline: 2px solid var(--blue);
    outline-offset: -2px;
}