* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; */
    box-sizing: border-box !important;
}

body {
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

input {
    align-self: stretch;
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
}

button {
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
}

textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    height: 10rem;
    padding: 10px;
    box-sizing: border-box;
}

.light {
    /* CSS HEX */
    --primary: #4f46e5;
    --bright-text: #f9fafb;
    --dark-text:#111827;
    --border: #d1d5db;
    --btn-bg: #fafafa;
    
    --orange: #ffcb88;
    --blue: #abd9ff;
    --grey: #3d3d3d;
}

.dark {
    color-scheme: dark;
    --primary: #6366f1;
    --dark-text: #f9fafb;
    --bright-text:#111827;
    --border: #374151;
    --btn-bg: #22242a;

    --orange: #003477;
    --blue: #542600;
    --grey: #c2c2c2;
    
}