@import '$lib/styles/theme.css';

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; */
    box-sizing: border-box !important;
}

body {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    background: var(--bg);
}

input {
    align-self: stretch;
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
}

button {
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
    background-color: var(--btn-bg);
    color: var(--dark-text);
    cursor: pointer;
    align-self: flex-end;
}

textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    height: 10rem;
    padding: 10px;
    box-sizing: border-box;
}