* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; */
    box-sizing: border-box !important;
}

:root {
    --max-width: 1920px;
    --page-padding: 0.5rem;
}

body {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    background-color: var(--background-color);
}

input {
    align-self: stretch;
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
    background-color: var(--input-bg);
}

select {
    background-color: var(--input-bg);
}

button {
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    background-color: var(--btn-bg);
    font-size: medium;

    &.secondary-btn {
        background-color: transparent;
    }

    &.secondary-btn:hover:enabled {
        background-color: var(--hover-color);
    }

    &:hover {
        background-color: var(--hover-color);
    }

    &:disabled {
        background-color: transparent;
    }
}

textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    height: 10rem;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--input-bg);
}

.light {
    color-scheme: light;
    --font-color: #000;
    --background-color: #fff;
    --message-bg: #e7e7e7;
    --navbar-color: #f8fbfd;
    --navbar-border: #e3e5e7;
    --selected-color: #ececec;
    --hover-color: #d1deeb;
    --input-bg: #f7f7f7;
    --active-button: #d1d1d1;
    --toast-bg: #eef2f7;
    
    --primary: #4f46e5;
    --bright-text: #f9fafb;
    --dark-text: #111827;
    --border: #ddd;
    --btn-bg: #dfe6ec;

    --tag-bg: #e7e7e7;

    --orange: #ffcb88;
    --blue: #abd9ff;
    --grey: #3d3d3d;
    --red: rgb(212, 166, 166);

    --vibrant-red: rgb(248, 82, 82);

    --blue-bg: #e2eafb;
    --pink-bg: #fbe2f4;
    --violet-bg: #e3dbfa;
    --beige-bg: #f6e2d4;
    --green-bg: rgb(184, 218, 184);
}

.dark {
    color-scheme: dark;
    color: #bfbfbf;

    --font-color: #bfbfbf;

    --background-color: #212121;
    --message-bg: #272727;
    --navbar-color: #1d1d1d;
    --navbar-border: #727272;
    --selected-color: #272a2e;
    --hover-color: #353a3f;
    --input-bg: #1E1E1E;
    --active-button: #424242;
    --toast-bg: #333333;

    --primary: #6366f1;
    --dark-text: #f9fafb;
    --bright-text: #111827;
    --border: #505050;
    --btn-bg: #272d31;
    --tag-bg: #464646;

    --orange: #785b3e;
    --blue: #3e5e78;
    --grey: #c2c2c2;
    --red: rgb(121, 84, 84);

    --vibrant-red: rgb(168, 49, 49);

    --blue-bg: #596380;
    --pink-bg: #704e66;
    --violet-bg: #645c80;
    --beige-bg: #806959;
    --green-bg: rgb(84, 121, 84);
}

.blue-bg {
    background-color: var(--blue-bg);
}

.pink-bg {
    background-color: var(--pink-bg);
}

.violet-bg {
    background-color: var(--violet-bg);
}

.beige-bg {
    background-color: var(--beige-bg);
}

.no-line-height {
    line-height: 0;
}

input:focus,
textarea:focus {
    outline: 2px solid var(--blue);
    outline-offset: -2px;
}

.status {
    width: fit-content;
    padding: 0.3rem 0.7rem;
    line-height: 1;
    border-radius: 30px;
}

.status[data-type='todo'] {
    background-color: var(--green-bg);
}

.status[data-type='inprogress'] {
    background-color: var(--violet-bg);
}

.status[data-type='done'] {
    background-color: var(--grey);
}

.status[data-type='declined'] {
    background-color: var(--red);
}

.status[data-type='pending'] {
    background-color: var(--orange);
}

.status[data-type='rejected'] {
    background-color: var(--red);
}

.status[data-type='accepted'] {
    background-color: var(--green-bg);
}

.delete-btn {
    background-color: var(--vibrant-red);
    border: none;
    color: var(--font-color);
    font-size: medium;
    font-weight: 500;
}

.delete-btn:hover {
    background-color: red;
    box-shadow: 0 0 0.7rem red;
}

.cancel-btn {
    background-color: transparent;
}

.editor-content,
.rich-content {
    ol {
        margin-left: 2rem;
    }

    ul {
        margin-left: 2rem;
    }

    p {
        display: block;
        min-height: 1rem;
    }
}