* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    box-sizing: border-box !important;
}

body {
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

input {
    align-self: stretch;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    align-self: flex-end;
}

textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    height: 10rem;
    padding: 10px;
    box-sizing: border-box;
}

:root {
    /* CSS HEX */
    --dark-purple: #32021fff;
    --ucla-blue: #406e8eff;
    --dark-goldenrod: #b68f40ff;
    --zomp: #66a182ff;
    --columbia-blue: #d6eeffff;

    --gradient-top: linear-gradient(0deg, #32021fff, #406e8eff, #b68f40ff, #66a182ff, #d6eeffff);
    --gradient-right: linear-gradient(90deg, #32021fff, #406e8eff, #b68f40ff, #66a182ff, #d6eeffff);
    --gradient-bottom: linear-gradient(180deg, #32021fff, #406e8eff, #b68f40ff, #66a182ff, #d6eeffff);
    --gradient-left: linear-gradient(270deg, #32021fff, #406e8eff, #b68f40ff, #66a182ff, #d6eeffff);
    --gradient-top-right: linear-gradient(45deg, #32021fff, #406e8eff, #b68f40ff, #66a182ff, #d6eeffff);
    --gradient-bottom-right: linear-gradient(135deg, #32021fff, #406e8eff, #b68f40ff, #66a182ff, #d6eeffff);
    --gradient-top-left: linear-gradient(225deg, #32021fff, #406e8eff, #b68f40ff, #66a182ff, #d6eeffff);
    --gradient-bottom-left: linear-gradient(315deg, #32021fff, #406e8eff, #b68f40ff, #66a182ff, #d6eeffff);
    --gradient-radial: radial-gradient(#32021fff, #406e8eff, #b68f40ff, #66a182ff, #d6eeffff);
}