name: ci

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - 
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - 
        uses: actions/checkout@v2
      
      - 
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Set short git commit SHA
        id: vars
        run: |
          calculatedSha=$(git rev-parse --short ${{ github.sha }})
          echo "COMMIT_SHORT_SHA=$calculatedSha" >> $GITHUB_ENV
      - 
        name: Build sveltekit
        uses: docker/build-push-action@v6
        with:
          push: true
          context: app
          tags: ${{ vars.DOCKER_USERNAME }}/${{ github.event.repository.name }}_sveltekit:${{ env.COMMIT_SHORT_SHA }}
          
      - 
        name: Build rusteu
        uses: docker/build-push-action@v6
        with:
          push: true
          context: server
          tags: ${{ vars.DOCKER_USERNAME }}/${{ github.event.repository.name }}_rusteu:${{ env.COMMIT_SHORT_SHA }}
      
